<div style="display: flex;">
    <div style="width: 55%; font-size: 14px; color: #b9b6b6">Nome do produto</div>
    <div style="width: 15%; font-size: 14px; color: #b9b6b6">Preço</div>
    <div style="width: 10%; font-size: 14px; color: #b9b6b6">Estoque</div>
    <div style="width: 10%; font-size: 14px; color: #b9b6b6">Visivel</div>
    <div style="width: 10%; font-size: 14px; color: #b9b6b6">Ações</div>
</div>
<hr>
<div *ngFor="let product of dataSource">
    <app-card-products [productDetail]="product"></app-card-products>
</div>
