input {
    background-color: rgb(214, 225, 235);
    border: 0.8px;
    border-radius: 5px;
    font-size: 16px;
    color: #585858;
    margin-top: 0;
    height: 40px;
    padding: 5px;
}

p {
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}