<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #e3e3e3; height: 80px;">
  <div class="container justify-content-center" style="padding: 10px">
    <b style="font-size: 35px;">Jet</b><b style="color:blue; font-size: 30px;">Shop</b>
  </div>
</nav>

<section>
  <div class="container" style="padding-bottom: 50px;">
    <router-outlet></router-outlet>
  </div>
</section>

<footer style="margin-top: 50px; padding: 10px; height: 40px; bottom: 0; right: 0; position: fixed;">
  <div class="container" style="justify-content: center ; display: flex;">
    <p style="color: #a3a3a3;">&copy; - Guilherme A. Silva</p>  
  </div>
</footer>